
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--primary-color: #F9C852;
	--accent-color: #403ADA;
	--text-color: #141E46;
}

@font-face {
	font-family: Dynamo-Regular;
	src: url(fonts/Dynamo-Regular.otf);
}
@font-face {
	font-family: Dynamo-Bold;
	src: url(fonts/Dynamo-Bold.otf);
}

body {
	background-color: var(--primary-color);
}

/* == MAIN PAGE == */
nav {
	width: 100%;
	height: 40px;
	background-color: var(--accent-color);
	padding: 20px;
}

.home-wrapper > .game-title > span {
	color: var(--accent-color);
	font-size: 16px;
}
.home-wrapper > .game-title > hr {
	color: var(--accent-color);
	border: 0.8px solid #ffffff;
}

.game-title {
	line-height: 0.5;
	font-family: Dynamo-Bold, Sans-Serif;
	font-size: 60px;
	text-align: center;
	color: #ffffff;
	user-select: none;
	margin: 16px;
	text-shadow: 0px 7px 13px rgba(179, 143, 59, 1);
	animation-name: pulse;
	animation-duration: 2.5s;
	animation-iteration-count: infinite;
}
.container {
	margin: 0 auto;
	height: auto;
	width: 80%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 16px;
}

.container > .card {
	max-width: 300px;
	min-height: 300px;
	background-color: var(--accent-color);
	border-radius: 8px;
	display: flex;
	flex: 1 1 100%;
	flex-direction: column;
	align-items: center;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.container > .card > img {
	width: 100%;
	aspect-ratio: 16/9;
	object-fit: cover;
}

.container > .card > .info {
	width: 100%;
	height: 100%;
	padding: 10px;
	margin-top: 10px;
	color: #ffffff;
	font-family: "Arial", Sans-Serif;
}

.container > .card > .info > h2 {
	font-size: 22px;
}
.container > .card > .info > p {
	font-size: 14px;
}

.container > .card > a {
	display: block;
	width: 60%;
	height: 30px;
	margin: 6px 0;
	background-color: var(--text-color);
	text-align: center;
	text-decoration: none;
	color: #ffffff;
	font-family: "Arial", Sans-Serif;
	font-size: 18px;
	line-height: 30px;
	border-radius: 2px;
	transition: all 250ms;
}

.container > .card > a:hover {
	background-color: #273b8c;
}

/* == CREATORS PAGE == */
.creators-nav {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	color: #ffffff;
	font-family: Dynamo-Regular, Sans-Serif;
	letter-spacing: 1px;
}
.creators-nav > h1 {
	color: #ffffff;
	margin-left: 30px;
}
.creators-nav > a {
	left: 30px;
	scale: 2;
	color: #ffffff;
}
.creator-wrapper {
	width: 100%;
	max-height: 85vh;
	overflow: auto;
	padding: 10px;
	display: grid;
	/*grid-template-columns: 1fr 1fr;*/
}
.creator-wrapper > .creator {
	color: var(--text-color);
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 60px;
	font-family: "Inter", Sans-Serif;
	transition: all 250ms;
}

.creator-wrapper > .creator > img {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	object-fit: cover;
	margin: 6px;
	box-shadow: rgba(179, 143, 59, 1) 0px 5px 15px;
	transition: all 250ms;
}
.creator-wrapper > .creator > img:hover {
	scale: 1.05;
}
.creator-wrapper > .creator > .name {
	font-weight: bold;
	text-align: center;
}
.creator-wrapper > .creator > .role {
	font-size: 14px;
}
.creator-wrapper > .creator > .description {
	margin-top: 20px;
	text-align: center;
	width: 80%;
}

footer {
	width: 100%;
	height: auto;
	margin: 10px 0;
	padding: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: absolute;
	/*bottom: 0;*/
	font-family: "Arimo", Sans-Serif;
}
footer > h3 {
	font-size: 16px;
}
footer > .creators {
	width: 90%;
}
footer > .creators > p {
	font-size: 12px;
	text-align: center;
	margin: 10px;
	color: #141E46;
}
footer > a {
	font-size: 12px;
	color: #141E46;
}

@media only screen and (min-width: 768px) {
	.container > .card {
		max-width: 200px;
		max-height: 200px;
	}
	
	.home-wrapper > .game-title > span {
		font-size: 12px;
	}
}