
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*:root {
	--primary-color: #FFF7FC;
	--accent-color: #5755FE;
	--text-color: #141E46;
	--button-color: ##5755FE;
}*/
/*:root {
	--primary-color: #FEFBF6;
	--accent-color: #ECB159;
	--text-color: #141E46;
	--button-color: #B67352;
}*/
/*:root {
	--primary-color: #F3F8FF;
	--accent-color: #7E30E1;
	--text-color: #141E46;
	--button-color: #49108B;
}*/
/*:root {
	--primary-color: #ffffff;
	--accent-color: #6B8A7A;
	--text-color: #000000;
	--button-color: #A35F52;
}*/
:root {
	--primary-color: #f1f2f6;
	--accent-color: #2f3542;
	--text-color: #121212;
	--button-color: #57606f;
}

@font-face {
	font-family: Dynamo-Regular;
	src: url(fonts/Dynamo-Regular.otf);
}
@font-face {
	font-family: Dynamo-Bold;
	src: url(fonts/Dynamo-Bold.otf);
}

body {
	background-color: var(--primary-color);
}

/* == MAIN PAGE == */
nav {
	width: 100%;
	height: 60px;
	background-color: var(--accent-color);
	padding: 4px;
	display: flex;
	align-self: center;
	font-family: "Arial", Sans-Serif;
	box-shadow: rgba(0, 0, 0, 0.50) 0px 5px 15px;
}

nav > .logo-container {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 2px;
}

nav > .logo-container > h1 {
	color: #ffffff;
	font-size: 16px;
	font-family: "Arial", Sans-Serif;
}

nav > .logo-container > a > img {
	width: 40px;
	aspect-ratio: 1/1;
	object-fit: cover;
}

.description-container {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 12px;
	color: var(--text-color);
	font-family: "Arial", Sans-Serif;
}

.description-container > p {
	text-align: center;
}

.home-wrapper > .game-title > span {
	color: var(--accent-color);
	font-size: 16px;
}
.home-wrapper > .game-title > hr {
	color: var(--accent-color);
	border: 0.8px solid #ffffff;
}

.game-title {
	line-height: 0.5;
	font-family: Dynamo-Bold, Sans-Serif;
	font-size: 60px;
	text-align: center;
	color: var(--text-color);
	user-select: none;
	margin: 16px;
	text-shadow: 0px 7px 13px rgba(0, 0, 0, 0.35);
	animation-name: pulse;
	animation-duration: 2.5s;
	animation-iteration-count: infinite;
}
.container {
	margin: 0 auto;
	height: auto;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 16px;
}

.container > .card {
	max-width: 300px;
	min-height: 300px;
	background-color: var(--accent-color);
	border-radius: 8px;
	display: flex;
	flex: 1 1 100%;
	row-gap: 16px;
	flex-direction: column;
	align-items: center;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.container > .card > img {
	width: 100%;
	aspect-ratio: 16/9;
	object-fit: cover;
}

.container > .card > .info {
	width: 100%;
	min-height: 100%;
	padding: 0 6px;
	color: #ffffff;
	font-family: "Arial", Sans-Serif;
	text-align: left;
	flex-grow: 1;
}

.container > .card > .info > h2 {
	font-size: 22px;
}
.container > .card > .info > p {
	font-size: 14px;
}

.container > .card > a {
	display: block;
	width: 60%;
	height: 30px;
	margin: 8px;
	background-color: var(--button-color);
	text-align: center;
	text-decoration: none;
	color: #ffffff;
	font-family: "Arial", Sans-Serif;
	font-size: 18px;
	line-height: 30px;
	border-radius: 2px;
	transition: all 250ms;
}

.container > .card > a:hover {
	background-color: #273b8c;
}

/* == CREATORS PAGE == */
.creators-nav {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	color: #ffffff;
	font-family: Dynamo-Regular, Sans-Serif;
	letter-spacing: 1px;
	gap: 10px;
	padding: 0 16px;
}
.creators-nav > h1 {
	color: #ffffff;
}
.creators-nav > a {
	scale: 2;
	color: #ffffff;
}
.creator-wrapper {
	width: 100%;
	overflow: auto;
	padding: 10px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 12px;
}
.creator-wrapper > .creator {
	min-width: 300px;
	color: var(--text-color);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: "Inter", Sans-Serif;
	transition: all 250ms;
}

.creator-wrapper > .creator > img {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	object-fit: cover;
	margin: 6px;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	transition: all 250ms;
}
.creator-wrapper > .creator > img:hover {
	scale: 1.05;
}
.creator-wrapper > .creator > .name {
	font-weight: bold;
	text-align: center;
}
.creator-wrapper > .creator > .role {
	font-size: 14px;
}
.creator-wrapper > .creator > .description {
	margin-top: 20px;
	text-align: center;
	width: 80%;
}

footer {
	width: 100%;
	height: auto;
	margin: 10px 0;
	padding: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: "Arimo", Sans-Serif;
}
footer > h3 {
	font-size: 16px;
}
footer > .creators {
	width: 90%;
}

footer > .creators > p {
	font-size: 12px;
	text-align: center;
	margin: 10px;
	color: #141E46;
}
footer > a {
	font-size: 12px;
	color: #141E46;
}

@media only screen and (min-width: 768px) {
	.container > .card {
		max-width: 200px;
	}
	
	.container > .card > .info > h2 {
		font-size: 20px;
	}
	.container > .card > .info > p {
		font-size: 12px;
	}
	
	.home-wrapper > .game-title > span {
		font-size: 12px;
	}
	
	footer > .creators > p > br {
		display: none;
	}
}